#brand {
    margin-left: 50px;
}

agm-map {
    height: 900px;
}


/* Drone Info section */

#Drone-info {
    color: white;
    margin: 2px 2px 0px 20px;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgb(72, 71, 71);
    padding: 10px;
}

#Drone-info .info-item {
    text-align: center;
    margin-right: 5px;
    box-shadow: 0px 1px 1px rgb(72, 71, 71);
}

.info-title {
    font-size: 20px;
}

.info-value {
    font-size: 30px;
    color: rgb(230, 128, 3);
    font-weight: bold;
}

.info-unit {
    font-size: 18px;
}


/* End of Drone Info section */
